@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
* npx tailwindcss -i ./styles/globals.css -o ./styles/tailwind.css --watch   
*/
* {
  font-family: "Anonymous Pro", 'Inconsolata';
}

@layer {
  .bg-main-text-main {
    @apply bg-light-main text-light-main dark:bg-dark-main dark:text-dark-main;
  }
  .bg-main-text-default {
    @apply bg-light-main text-light-default dark:bg-dark-main dark:text-dark-default;
  }
  .bg-all {
    @apply bg-light-all text-light-default dark:bg-dark-all dark:text-dark-default;
  }
  .bg-def {
    @apply bg-light-default text-light-default dark:bg-dark-default dark:text-dark-default;
  }
  .f-row {
    @apply flex flex-row justify-center items-center;
  }
  .f-col {
    @apply flex flex-col justify-center items-center;
  }
  .gr-cen {
    @apply grid place-items-center;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .noBars::-webkit-scrollbar {
    display: none;
  }
  .noBars {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .title-1{
    @apply text-4xl max-sm:text-2xl tracking-widest font-bold;
  }
  .title-2{
    @apply text-2xl max-sm:text-xl tracking-wider font-semibold;
  }
  .title-3{ 
    @apply text-xl max-sm:text-sm tracking-wide font-thin;
  }
}
